@use '../../App.scss' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.hero {
  background-color: $secondary-black;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0;
    margin: 0 auto;
  }

  &__container {
    @include desktop {
      width: 56.8rem;
      height: 31.75rem;
      margin: 0 auto;
    }
  }
  
  &__video {
    display: block;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;

    @include desktop {
      max-height: none;
      height: 100%;
    }
  }
}