@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.hero {
  width: 100vw;

  @include tablet {
    width: 43.5rem;
    margin: 0 auto;
  }
  &__video {
    width: 100%;
  }
}